#{extends 'main.html' /}
#{set title:'- encuesta oficial' /}

<div class="content">
    <h2>Estimado/a visitante de : </h2>
    <p>
        Danos tu opinión sobre este cuestionario de 30 segundos de y, a modo de agradecimiento, podrás disfrutar de exclusivas ofertas « gratuitas ». Disponible hoy solamente: sábado, den abril 1, 2017
    </p>
    <h2>Pregunta 1 de 4: ¿Cuál es tu género?</h2>
    <input type="radio" name="gender" value="macho"> macho<br>
    <input type="radio" name="gender" value="femenino"> femenino<br>
</div>